<div class="poetry-component">

  <!-- Header-->
  <header class="poetry-header">
    <h2>Fetch Poems by Author or Title</h2>
  </header>

<!--  error message -->
  <section *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </section>

<!--  back button for search view-->
  <section *ngIf="!isSearchView">
    <button (click)="handleBack()">Back</button>
  </section>

  <!-- Search Box -->
  <section *ngIf="isSearchView" class="search-view" >
    <h1>Search for a Poem:</h1>
    <app-search-form (search)="fetchByAuthorAndTitle($event.author, $event.title)"></app-search-form>
  </section>

  <!-- Poem Selection-->
  <section *ngIf="!selectedPoem && !isSearchView" class="poem-view">
    <app-poetry-list [poems]="poems" (selectPoem)="selectPoem($event)"></app-poetry-list>
  </section>

  <!-- Poem View -->
  <section *ngIf="selectedPoem" class="poem-view">
    <app-poem-detail [poem]="selectedPoem">></app-poem-detail>
  </section>

</div>
