/*sections*/

section {
  margin: 1rem 0;
}

.error-message {
  color: red;
}

.selection-view ul {
  list-style: none;
  padding: 0;
}

.selection-view li {
  padding: 0.8rem;
  background: #1a5d87;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5rem 0;
  text-align: center;
  transition: background-color 0.3s ease;
}

.selection-view li:hover {
  background-color: #e0e0e0;
}
