<div class="poetry-component">

  <!-- Back button container appears when not in search view -->
  <div class="back-button-container" *ngIf="!isSearchView">
    <button (click)="handleBack()">Back</button>
  </div>

  <!-- Error or informational messages section -->
  <section class="message-section">
    <ng-container *ngIf="errorMessage?.trim()">
      <p class="error-message">{{ errorMessage }}</p>
    </ng-container>

    <ng-container *ngIf="isSearchView && !errorMessage?.trim()">
      <!-- Display default search prompt when in search view and no error message is present -->
      <h1 class="search-message">Search by poem or poet or both:</h1>
    </ng-container>
  </section>

  <!-- Search form appears only in the search view -->
  <section *ngIf="isSearchView" class="search-view" >
    <app-search-form (search)="fetchByAuthorAndTitle($event.author, $event.title)"></app-search-form>
  </section>

  <!-- Display the poem list when search is not in progress and a poem is not yet selected -->
  <section *ngIf="!selectedPoem && !isSearchView" class="poem-view scrollable-content">
    <app-poetry-list [poems]="poems" (selectPoem)="selectPoem($event)"></app-poetry-list>
  </section>

  <!-- Display the poem details when a poem is selected -->
  <section *ngIf="selectedPoem" class="poem-view scrollable-content">
    <app-poem-detail [poem]="selectedPoem">></app-poem-detail>
  </section>

</div>
